.main-wrapper{
  margin: 20px auto;
  width: 90%;
  .top-wrapper{
      display: flex;
      padding: 10px 10px 0;
      label{
        width: 10%;
        margin-right: 12px;
        .thumbnail{
          width: 100%;
          height: 150px;
          color: #666;
          font-size: 12px;
          overflow: hidden;
          line-height: 150px;
          text-align: center;
          display: inline-block;
          border: 1px solid #ddd;
          background-size: cover;
          background: #f0f0f0;
          background-position: center center;
          cursor: pointer;
        }
        input[type="file"]{
          display: none;
        }
      }
      .input-wrapper{
        width: 88%;
        display: flex;
        flex-direction: column;
        input{
          height: 43px;
          padding-left: 10px;
          margin-bottom: 10px;
          border: 1px solid #ddd;
        }
      }
    }
    
    .middle-wrapper{
      display: flex;
      padding: 0 10px;
      margin-bottom: 10px;
      .card{
        width: 99%;
      }
      // .input-area{
      //   width: 100%;
      //   resize: none;
      //   padding: 6px;
      //   height: 470px;
      //   font-size: 16px;
      //   overflow: scroll;
      //   border: 1px solid #ddd;
      //   font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
      // }
      // .body{
      //   margin-right: 10px;
      // }
      // #preview{
      //   background: white;
      //   p{
      //     margin: 0;
      //   }
      //   h1,h2,h3{
      //     padding: 0;
      //   }
      // }
    }
    
    .bottom-wrapper{
      display: flex;
      padding: 0 10px;
      justify-content: flex-end;
      input[type="submit"], .image-button{
        padding: 6px;
        width: 160px;
        height: 40px;
        color: white;
        cursor: pointer;
        text-align: center;
        border: 0px solid #000;
        background: $blog-app;
        font-weight: bold;
      }
      input[type="submit"]:nth-child(1){
        margin-right: 8px;
      }
      input[type="file"]{
        display: none;
      }
      input[type="text"]{
        border: 1px solid #ddd;
        height: 40px;
        width: 160px;
        padding-left: 10px;
      }
    }
    
    .body_image{
      width: 100%;
      margin-top: 10px;
      object-fit: contain;
      object-position: 0px 0px;
    }
}