.mypage-wrapper{
    color: #333;
    padding: 10px;
    display: flex;
    background: #f0f0f0;
    justify-content: center;
    min-height: calc(100vh - 50px);
    &-left{
      a{
        color: #333;
        text-decoration: none;
      }
      display: block;
      position: sticky;
      top: 20px;
      margin: 10px;
      height: 100%;
      width: 300px;
      min-width: 200px;
      padding: 10px;
      text-align: center;
      background: white;
      .writer{
        font-size: 14px;
        color: #666;
      }
      .user-icon{
        width: 70px;
        height: 70px;
        margin: 0 auto;
        margin-top: 20px;
        background: #333;
        border-radius: 100%;
        i{
          color: #eee;
          font-size: 40px;
          line-height: 64px;
        }
      }
      .user-name{
        font-size: 18px;
        font-weight: bold;
        padding-top: 20px;
      }
      .user-link{
        padding-top: 10px;
        i{
          font-size: 20px;
        }
        .fa-twitter{
          color: #4BA0EB;
        }
        .fa-facebook{
          color: #415993;
        }
      }
      .user-profile{
        text-align: start;
        p{
          font-size: 12px;
          padding: 10px;
        }
      }
      .user-activity{
        display: flex;  
        color: #666;
        font-size: 14px;
        padding-bottom: 10px;
        justify-content: space-around;
        .activities{
          color: #333;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    &-right{
      margin: 10px;
      height: 100%;
      width: 100%;
      max-width: 600px;
      padding: 10px 20px;
      background: white;
      color: #555;
      .title{
        font-weight: bold;
        padding-bottom: 10px;
        i{
          padding-right: 10px;
          color: $blog-app;
        }
      }
      .articles{
        display: flex;
        flex-direction: column;
        .article{
          padding: 20px 0;
          .tags{
            font-size: 12px;
            color: #555;
            a{
              text-decoration: none;
              color: #555;
            }
          }
          &-title{
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            color: #666;
            text-decoration: none;
          }
          &-info{
            display: flex;
            font-size: 12px;
            justify-content: space-between;
            i{
              padding-right: 4px;
            }
          }
        }
      }
    }
  }